/* Add custom styles here */
.label {
  float: left;
  margin: 3px 2px;
}
.margin-left {
  margin: auto auto auto 10px;
}
.route-header{
  float:left;
  line-height:30px;
}
.tools {
  float: right;
  color: #3c8dbc;
}
.tools>.fa {
  margin-right: 5px;
  cursor: pointer;
}

.btn.in-table {
  margin: auto 3px 3px auto;
}

.map-height{
  height:600px;
  overflow-y: scroll;
}

.cust-height {
  max-height: 600px;
}

.cust-label {
  background-color: 555;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin: auto 1px;
}

.avail-color {
  background-color: #00A65A;
}

.unavail-color {
  background-color: #DD4B39;
}
