/* Add custom styles here */
.label {
  float: left;
  margin: 3px 2px;
}
.margin-left {
  margin: auto auto auto 10px;
}
.route-header{
  float:left;
  line-height:30px;
}
.tools {
  float: right;
  color: #3c8dbc;
}
.tools>.fa {
  margin-right: 5px;
  cursor: pointer;
}

.btn.in-table {
  margin: auto 3px 3px auto;
}

#test-map{
  height:600px;
}
