node_modules/
.eslintrc
.env

# local database
mongod
data/

# backups
*~

# sourcemaps
*.map

# logs
*.log

#webpack bundles
client/public/static/bundle.js*
client/public/static/vendors.js*

# mac os files
.DS_Store

#start_script
quick_start.sh
